<!DOCTYPE html>
<html>
<head>
	<title>VC Contact List</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="container">

	<div id="contactList" v-cloak>
		<h1 class="text-center">Vue Contact List</h1>
		
		<form>
			<div class="form-group row" v-bind:class="{ 'has-warning': attemptingSave && missingName }">
				<label for="name" class="col-sm-2 col-form-label">Name</label>
				<div class="col-sm-10">
					<input id="name"
								 type="text"  
								 class="form-control form-control-warning" 
								 placeholder="Harry Potter" 
								 v-model="newName">
					<div class="form-control-feedback" v-if="attemptingSave && missingName">Name cannot be blank.</div>
				</div>
			</div>

			<div class="form-group row" v-bind:class="{ 'has-warning': attemptingSave && badPhone }">
				<label for="phone" class="col-sm-2 col-form-label">Phone</label>
				<div class="col-sm-10">
					<input id="phone"
								 type="text"  
								 class="form-control form-control-warning" 
								 placeholder="123-456-7890" 
								 v-model="newPhone">
					<div class="form-control-feedback" v-if="attemptingSave && badPhone">
						Phone should be in the format 123-456-7890.
					</div>
				</div>
			</div>

			<div class="form-group row" v-bind:class="{ 'has-warning': attemptingSave && badEmail }">
				<label for="email" class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-10">
					<input id="email"
								 type="text"  
								 class="form-control form-control-warning" 
								 placeholder="harry@hogwards.edu" 
								 v-model="newEmail">
					<div class="form-control-feedback" v-if="attemptingSave && badEmail">
						Email should have an "@" in it.
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col text-center">
					<button class="btn btn-outline-warning" v-on:click.prevent="validateForm( $event )">Save</button>
				</div>
			</div>

		</form>

		<hr class="divider" />

		<div v-if="contacts && contacts.length > 0">
			<div class="row" v-for="contact in contacts">
				<button v-on:click="removeContact( contact.id )" type="button" class="btn btn-sm btn-outline-danger">X</button>
				<div class="col-sm-4">{{ contact.name }}</div>
				<div class="col-sm-3">{{ contact.phone }}</div>
				<div class="col-sm-4">{{ contact.email }}</div>
			</div>
		</div>
		<div v-else>
			<div class="row">
				<div class="col text-center">No contacts!</div>
			</div>
		</div>







<!--
		<div class="form-group row">
		  <label for="example-text-input" class="col-2 col-form-label">Name</label>
		  <div class="col-10">
		    <input id="nameInput"
		    			 class="form-control" 
		           type="text" 
		           placeholder="Name"
		           v-model="newName" >
		  </div>
		</div>

		<div class="form-group row">
		  <label for="example-text-input" class="col-2 col-form-label">Phone</label>
		  <div class="col-10">
		    <input id="phoneNumberInput"
		    			 class="form-control" 
		           type="tel" pattern="^[0-9\-\+\s\(\)]*$" required		           
		           placeholder="Phone Number"
		           v-model="newPhoneNumber" 
		           v-on:blur="validatePhoneNumber">
		  </div>
		</div>

		<div class="form-group row">
			<button type="submit" class="btn btn-outline-primary mx-auto" v-on:click="addContact">Save</button>
		</div>

		<hr class="mt-1 mb-3 ml-5 mr-5" />

		<ul class="text-center">
			<li 
				is="contactLine"
				v-bind:name="contact.name"
				v-bind:phone-number="contact.phoneNumber"
				v-bind:id="contact.id"
				v-bind:remove-contact="removeContact"
				v-for="contact in contacts"	>				
			</li>
		</ul>
	
-->
	
	</div>

	<script type="text/javascript" src="https://unpkg.com/vue"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>